body{
	background-image: url('image/bg.jpg');
}
.wapper{
	width: 750px;
	height: 500px;
	background-color: #fff;
	margin: 6% auto 0;
	text-align: center;
	color: #d9301f;
	box-sizing:border-box;
	font-size: 35px;
	font-weight: bold;
	position: relative;
	box-shadow:  5px 6px 36px 2px rgba(0,0,0,0.34);
}
.wapper span{
	font-size: 14px;
	color: #666;
	line-height: 130px;
}
.input_ex{
	width: 270px;
	height: 400px;
	font-size: 15px;

	margin: 55px auto 0 ;
}
.input_money{
	width: 215px;
	height: 40px;
	padding-left: 10px;
	font-size: 22px;
	box-sizing:border-box;
	outline: none;
	border: none;
	border-bottom: 1px solid #4560ab;
}
.input_money{
	width: 215px;
	height: 40px;
	padding-left: 13px;
	font-size: 18px;
	box-sizing:border-box;
	outline: none;
	border: none;
	color: #666;
	border-bottom: 1px solid #ccc;
	transition: .5s;
}
.input_money:focus{
	border-bottom: red 1px solid;
	color: #d9301f;
}
.select_money{
	width: 90px;
	height: 30px;
	cursor: pointer;
	margin: 50PX 20PX 0;
	outline: none;
	border-radius: 3px;
}
.arrow{
	width: 23px;
	height: 23px;
	background-size: cover;
	background-position: center;
	position: absolute;
	top: 318px;
	left: 363px;
	background-image: url('image/right-arrow.png');
}
.buttom{
	width: 210px;
	height: 42px;
	cursor: pointer;
	margin-top: 50px;
	background-color: #d9301f;
	border: none;
	color: #fff;
	transition:all 0.4s ease-in;
}
.buttom:hover{
	border: 2px solid #d9301f;
	color: #d9301f;
	background-color: #fff;
}
